* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: rgb(24, 60, 96);
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.2rem;
	line-height: 1.6;
	color: #222;
}

a {
	color: inherit;
}

h1 {
	margin-block: 1rem;
}

p {
	margin-block: 1rem;
}

input {
	width: 100%;
	padding: 0.5rem;
	border: 0.1rem solid gray;
	font-size: inherit;
	font-family: inherit;
}

input:focus {
	border-color: var(--primary-color);
}

label {
	display: block;
	margin-bottom: 1rem;
}

button {
	background-color: var(--primary-color);
	color: white;
	font-family: inherit;
	border: none;
	padding: 0.5rem 1rem;
	font-size: inherit;
	cursor: pointer;
	outline-offset: 0.1rem;
}
